toolchain/build
toolchain/temp
toolchain/ndk
toolchain/adb
toolchain/bin
toolchain/python

output
.idea
.settings
**/__pycache__
**/tsconfig.jsons

*.bat
*.log
*.icmod
.vscode

tsconfig.json
code/tsconfig.json

other_resources/old_code
other_resources/deleted_code
other_resources/unwork
